$primary_color: #784f33;
$bg_color: #fafafa;
$text_color: #252b42;
$second_text_color: #737373;
$main_font: "Martel", serif;
$secondary_font: 'Open Sans', sans-serif;
$bg_color_secondary: #fff;
$bg_bd_c: #D0A144;